@font-face {
    font-family: "Press Start 2P";
    src: url("../fonts/main_font.ttf");
}

.label {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 24px;
}


.cdLabel {
    -fx-font-size: 64px;
}

.button {
    -fx-font-family: "Press Start 2P";
}

.pauseHolder {
    -fx-background-color: rgba(0, 0, 0, 0.495);
    -fx-font-size: 24px;
}

.overHolder {
    -fx-background-color: rgba(0, 0, 0, 0.495);
    -fx-font-size: 24px;
}

.overLabel {
    -fx-font-size: 16px;
}